<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <main>
        <table>

            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
            
            {% for user in users_dictionary %}
                <tr>
                    <td>{{ user['first_name'] }}</td>
                    <td>{{ user['last_name'] }}</td>
                    <td>{{ user['first_name'] +" "+ user['last_name'] }}</td>
                </tr>
            {%  endfor %}
            
        </table>
    
    </main>
</body>
</html>